{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form class="login-form" method="post" class="test-mehdi mt-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div>
        <h1>Welcome to Game.Scope</h1>
        <p>Login or <a class="creat-account-link" href="{{ path('app_register')}}">Create account</a></p>
    </div>
    <div class="login-elements">

{#    <label for="inputEmail">Email</label>#}
    <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail"  autocomplete="email" required autofocus>
{#    <label for="inputPassword" class="mt-4">Password</label>#}
    <input type="password" name="password" id="inputPassword" placeholder="Password"  autocomplete="current-password" required>

        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Sign in
        </button>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
{% endblock %}
