<div class="header_nav">
    <div class="menu-btn-container">
        <div class="menu-btn toggle">
            <div class="menu-btn_burger"></div>
        </div>
    </div>
    <div><img src="{{ asset('build/images/logo_v2_white_transparent.png') }}" alt="game-scope_logo"></div>
    {% if app.user %}

    <div><a id="login-btn-" class="logout-btn log-btn" href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket login"></i>{{ app.user.nickname }}</a></div>
    {% else %}
        <div><a id="login-btn-" class="log-btn login-btn" href="{{ path('app_login')}}">Access all features</a></div>
    {% endif %}

</div>
<nav class="sidebar close">
<div class="menu-bar">
    <div class="menu">
        <div>
        <ul class="menu-links">
            <li class="nav-link">
                <a href="{{ path('app_main') }}">
                    <i class="icon fa-solid fa-house"></i>
                    <span class="text nav-text">Home</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="{{ path('app_about') }}"
                ><i class="icon fa-solid fa-user-group"></i>
                    <span class="text nav-text">About</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#"
                ><i class="icon fa-solid fa-envelope"></i>
                    <span class="text nav-text">Contact</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="{{ path('app_faq')}}"
                ><i class="icon fa-solid fa-lightbulb bull"></i>
                    <span class="text nav-text">FAQ</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#"
                ><i class="icon dashboard-icon fa-regular fa-table-cells-large"></i>
                    <span class="text nav-text">Dashboard</span>
                </a>
            </li>
        </ul>
        </div>
    </div>
</div>
    <div id="btn-back-to-top"><i class="fa-solid fa-xl fa-angle-up btn-back-to-top"></i></div>
</nav>


