<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="game.scope is a community of gamers getting together around discovering and exploring gaming news. Join the movement to empower better software together.">
        <meta name="author" content="SOUHAIL NAJI">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png"  href="{{ asset('build/images/logo_onglet.png') }}">
        <title>{% block title %}Game.scope{% endblock %}</title>
        <!-- style font awesome -->
        {% block stylesheets %}
            <link href="{{ asset('build/fontawesome/css/all.css') }}">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        <!-- javascript -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('index') }}
        {% endblock %}
    </head>
    <body>
        {% include '_navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
